.blink_text {

    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;

     color: blue;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }
.remove-line{

    text-decoration: none;
}

.stop{
    color: blue;
}

.copy-to-clipboard{
    width: 100%; 
    align-items: center;

        
}
.copy-to-clipboard-button{
   
    display: inline-block;
    background-color: #2996f0;
    border: none;
    box-shadow:2px 2px 2px #666;

}

.copy-to-clipboard-button:hover{
    
    background-color: #000000;
    border: none;
    box-shadow:2px 2px 2px #666;

}

.copy-to-clipboard-button .tooltiptext {
      visibility: hidden;
      background-color: #c6cbcf;
      color: black;
      text-align: center;
      border-radius: 6px;
      padding: 2px 10px;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
}

.copy-to-clipboard-button:hover .tooltiptext {
  visibility: visible;
}
.copy-to-clipboard-text{
    padding-left: 3%; 
    color: white;
    background-color: #0d7dd9;
    box-shadow:2px 2px 2px #666;

}

.copy-to-clipboard-head{
    padding-left: 3%; 
   
}